@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
    background: #F8F8FF;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
}

.logoAlura {
    display: flex;
    padding: 2% 0 0 4%;
}

main {
    display: flex;
    margin-bottom: 50px;
    margin-left: 300px;
}

.textarea {
    border: none;
    color: #0A3871;
    margin-top: 85px;
    resize: none;
    width: 680px;
    height: 100px;
}
::placeholder { color: #0A3871; opacity: 40%;}
  .textarea:focus {
      outline: none;
    }

.mensagem {
    background: white;
    background-image: url("imagens/bonecoediamante.png");
    background-repeat: no-repeat;
    background-position: center center;
    border: none;
    border-radius: 24px;
    box-shadow: 0px 24px 32px -8px #00000014;
    color: #0A3871;
    margin: 0 0.52% 0.52% 13%;
    padding-left: 20px;
    position: fixed;
    resize: none;
}
.mensagem:focus {
    outline: none;
}

.botoes {
    display: flex;
    margin-top: 18px;
}

.crip-btn {
    background-color: #0A3871;
    border: 1px solid #0A3871;
    border-radius: 34px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    height: 67px;
    width: 328px;
}

.crip-btn:active {
    background-color: #FFFFFF;
    color: #0A3871;
    transition: 0.2s;
}

.descrip-btn {
    background: #FFFFFF;
    border: 1px solid #0A3871;
    border-radius: 34px;
    color: #0A3871;
    font-size: 16px;
    cursor: pointer;
    height: 67px;
    margin-left: 30px;
    width: 328px;
}

.descrip-btn:active {
    background-color: #0A3871;
    color: #FFFFFF;
    transition: 0.2s;
}

.cop-btn {
    background: #FFFFFF;
    border: 1px solid #0A3871;
    border-radius: 34px;
    color: #0A3871;
    font-size: 16px;
    cursor: pointer;
    height: 67px;
    margin-left: 80%;
    margin-top: 182%;
    position: relative;
    width: 336px;
}

.cop-btn:active {
    background-color: #0A3871;
    color: #FFFFFF;
    transition: 0.2s;
}

.informacao {
    color: #495057;
    font-size:18px;
    margin-top: 400px;
}

.rodape {
    display: flex;
    position: relative;
    margin-top: 4%;
    font-family: 'Inter', sans-serif;
    justify-content: center;
}

.icons {
    display: flex;
    margin: -3px 2px;
}